/* ------------------------------------------------
 * BODY
 * ------------------------------------------------
 */

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Verdana", serif;
}

a, a:visited, a:hover, a:focus {
  color: #2b81af;
}

/* ------------------------------------------------
 * HUD
 * ------------------------------------------------
 */

.fps {
  position: absolute;
  color: white;
  right: 10px;
  top: 10px;
}

.info {
  position: absolute;
  color: white;
  left: 10px;
  top: 10px;
}

.dialog-box {
  font-family: "Verdana", serif;
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -150px;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 5px;
  width: 300px;
  top: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  display: none;

  > .dialog-box-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.button {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #3498db;
  max-height: 20px;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 15px;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.button-secondary {
  max-height: 16px;
  width: 80px;
  background: #ed6262;
  background-image: -webkit-linear-gradient(top, #ed6262, #8f0d0d);
  background-image: -moz-linear-gradient(top, #ed6262, #8f0d0d);
  background-image: -ms-linear-gradient(top, #ed6262, #8f0d0d);
  background-image: -o-linear-gradient(top, #ed6262, #8f0d0d);
  background-image: linear-gradient(to bottom, #ed6262, #8f0d0d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 20px 10px 20px;
  text-decoration: none;
}

.button-secondary:hover {
  background: #ff4a4a;
  background-image: -webkit-linear-gradient(top, #ff4a4a, #992020);
  background-image: -moz-linear-gradient(top, #ff4a4a, #992020);
  background-image: -ms-linear-gradient(top, #ff4a4a, #992020);
  background-image: -o-linear-gradient(top, #ff4a4a, #992020);
  background-image: linear-gradient(to bottom, #ff4a4a, #992020);
  text-decoration: none;
}

.button-credits {
  top: 5px;
  right: 90px;
}

.button-edit-mode {
  top: 5px;
  right: 205px;
}

.button-add-car {
  top: 10px;
  left: 10px;
}

.button-remove-car {
  top: 50px;
  left: 10px
}

/* ------------------------------------------------
 * STATE
 * ------------------------------------------------
 */

.loading {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;

  > .loadingText {
    font-size: 2em;
    margin-bottom: 5px;
  }

  > .loadingDescription {
    font-size: 1em;
  }
}
