/* ------------------------------------------------
 * BODY
 * ------------------------------------------------
 */

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Verdana", serif;
}

/* ------------------------------------------------
 * HUD
 * ------------------------------------------------
 */

.fps {
  position: absolute;
  color: white;
  right: 10px;
  top: 10px;
}

.info {
  position: absolute;
  color: white;
  left: 10px;
  top: 10px;
}

/* ------------------------------------------------
 * STATE
 * ------------------------------------------------
 */

.loading {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;

  > .loadingText {
    font-size: 2em;
    margin-bottom: 5px;
  }

  > .loadingDescription {
    font-size: 1em;
  }
}
