/* ------------------------------------------------
 * BODY
 * ------------------------------------------------
 */

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Verdana", serif;
}

/* ------------------------------------------------
 * HUD
 * ------------------------------------------------
 */

.fps {
  position: absolute;
  color: white;
  right: 10px;
  top: 10px;
}

.info {
  position: absolute;
  color: white;
  left: 10px;
  top: 10px;
}