.button {
  position: absolute;
  user-select: none;
  background: #3498db;
  max-height: 20px;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 15px;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.button-add-normal-car, .button-remove-normal-car {
  max-height: 16px;
  width: 80px;
  background: #d93434;
  background-image: linear-gradient(to bottom, #d93434, #b82c2c);
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 20px 10px 20px;
  text-decoration: none;
}

.button-add-normal-car:hover, .button-remove-normal-car:hover {
  background: #fa3c3c;
  background-image: linear-gradient(to bottom, #fa3c3c, #d93434);
  text-decoration: none;
}

.button-add-fast-car, .button-remove-fast-car {
  max-height: 16px;
  width: 80px;
  background: #d9c334;
  background-image: linear-gradient(to bottom, #d9c334, #b8952c);
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 20px 10px 20px;
  text-decoration: none;
}

.button-add-fast-car:hover, .button-remove-fast-car:hover {
  background: #faea3c;
  background-image: linear-gradient(to bottom, #faea3c, #d9c334);
  text-decoration: none;
}

.button-add-slow-car, .button-remove-slow-car {
  max-height: 16px;
  width: 80px;
  background: #4fd934;
  background-image: linear-gradient(to bottom, #4fd934, #32b82b);
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 20px 10px 20px;
  text-decoration: none;
}

.button-add-slow-car:hover, .button-remove-slow-car:hover {
  background: #3cfc63;
  background-image: linear-gradient(to bottom, #3cfc63, #34d94d);
  text-decoration: none;
}

/* Button locations */

.button-credits {
  top: 5px;
  right: 90px;
}

.button-edit-mode {
  top: 5px;
  right: 205px;
}

.button-add-normal-car {
  top: 10px;
  left: 10px;
}

.button-remove-normal-car {
  top: 10px;
  left: 140px;
}

.button-add-fast-car {
  top: 50px;
  left: 10px;
}

.button-remove-fast-car {
  top: 50px;
  left: 140px;
}

.button-add-slow-car {
  top: 90px;
  left: 10px;
}

.button-remove-slow-car {
  top: 90px;
  left: 140px;
}
