.loading {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.loading > .loadingText {
  font-size: 2em;
  margin-bottom: 5px;
}

.loading > .loadingDescription {
  font-size: 1em;
}
